<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>双林二手车管理员主页面</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <input type="datetime-local" name="dealdate" id="ymd" />
    <button class="btn btn-info" onclick="saveOrder()">显示</button>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function saveOrder() {
        var ymd = $('#ymd').val();
        alert(ymd.toString());
        $.ajax({
            type: "post",
            url: "/test/saveOrder",
            data: {"ymd": ymd.toString()},
            success: function (d) {
                if (d == "success") {
                    alert('生成订单成功！');//保存成功提示
                }
                if (d == "error") {
                    alert('生成订单异常!');
                }
            }
        });
    }
</script>
</body>
</html>