<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--thymeleaf的头文件-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--上面这一行便于移动端开发使用，使显示更加清晰，以后编程都加上这一行-->
    <title>欣欣二手车交易平台主页面</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand logo"><img src="/images/logo6.jpg" alt="欣欣二手车平台"/></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        &lt;!&ndash;
        <ul class="nav navbar-nav">
            <li class="list-group-item-success"><a href="#">欣欣二手车平台</a></li>
        </ul>
        &ndash;&gt;
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/buyCar.html"><span class="glyphicon glyphicon-home"></span>首页</a></li>
                <li><a href="/buyCar.html"><span class="glyphicon glyphicon-shopping-cart"></span> 买车</a></li>
                <li><a href="/sellCar.html"><span class="glyphicon glyphicon-heart-empty"></span> 卖车</a></li>
                <li><a href="/talkRoom.html"><span class="glyphicon glyphicon-fire"></span> 车友交流</a></li>
                <li><a href="/user/personInfo"><span class="glyphicon glyphicon-tint"></span> 个人信息</a></li>
                <li ><button class="btn btn-info" style="margin-top: 9px; margin-right: 7px" th:if="${session.currentUser==null}"><span class="glyphicon glyphicon-user"></span><a href="/user/info">登录</a></button></li>
                <li><button class="btn btn-info" style="margin-top: 9px;" th:if="${session.currentUser==null}"><span class="glyphicon glyphicon-plus"></span><a href="/user/temp">注册</a></button></li>
                &lt;!&ndash;<li ><button class="btn btn-info" style="margin-top: 9px; margin-right: 7px" href="#" id="loginbtn" th:if="${session.currentUser==null}"><span class="glyphicon glyphicon-user"></span>登录</button></li>
                <li><button class="btn btn-info" style="margin-top: 9px;" href="#"  id="registerbtn" th:if="${session.currentUser==null}"><span class="glyphicon glyphicon-plus"></span>注册</button></li>&ndash;&gt;
                <li th:if="${session.currentUser!=null}"
                    th:text="${session.currentUser.getPhone()}"></li>
&lt;!&ndash;                <li th:if="${session.currentUser!=null}"><a href="/user/quit">退出登录</a></li>

                 <button id="loginbtn" style="background-color: deepskyblue">登录</button>
                <button id="registerbtn" style="background-color: lightgreen">注册</button>&ndash;&gt;
            </ul>
        </div>
    </div>
</nav>
&lt;!&ndash; 登陆模态框声明 &ndash;&gt;
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1">
    &lt;!&ndash; 窗口声明 &ndash;&gt;
    <div class="modal-dialog">
        &lt;!&ndash; 内容声明 &ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">用户登录页</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="/user/sign" method="post">
                        手机号<input type="text" name="phone" placeholder="请输入您的手机号" value=""/><br/>
                        密码<input type="password" name="password" placeholder="请输入您的登录密码" value=""/><br/>
                        <input type="submit" value="登录"/>
                        <input type="reset" value="重置"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
&lt;!&ndash;注册模态框声明&ndash;&gt;
<div class="modal fade" data-backdrop="static" id="myModa2" tabindex="-1">
    &lt;!&ndash; 窗口声明 &ndash;&gt;
    <div class="modal-dialog">
        &lt;!&ndash; 内容声明 &ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">用户注册页</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="/user/register" method="post">
                        手机号<input type="text" name="phone"/><br/>
                        姓氏<input type="text" name="famliyname"/>
                        密码<input type="password" name="password"/><br/>
                        确认密码<input type="password" name="passwordagain"/><br/>
                        性别<input type="radio" name="gender" value="男"/>
                        <input type="radio" name="gender" value="女"/>
                        <input type="submit" value="注册"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background: #223240">
            <img src="/images/a1.jpg" alt="第一张"/>
        </div>
        <div class="item" style="background: gray">
            <img src="/images/a2.jpg" alt="第二张"/>
        </div>
        <div class="item" style="background:cadetblue">
            <img src="/images/a3.jpg" alt="第三张"/>
        </div>
    </div>
    &lt;!&ndash;    <a href="#myCarousel" data-slide="prev" class="carousel-control left">&lsaquo;</a>
        <a href="#myCarousel" data-slide="next" class="carousel-control right">&rsaquo;</a>&ndash;&gt;
    &lt;!&ndash;上下两种形式皆可以实现轮播插件定位的功能，下面方法更为简洁高效&ndash;&gt;
    <a href="#myCarousel" data-slide="prev" class="carousel-control left">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#myCarousel" data-slide="next" class="carousel-control right">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="tab1">
    <div class="container">
        <h2 class="tab-h2">为何选择欣欣二手车平台</h2>
        <p class="tab-p">259项专业检测!完备的检测流程!专业的评估师团队!</p>
        <div class="row">
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="/images/tool2.jpg" class="media-object" alt=""/></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">欣欣二手车是谁?</h4>
                        <p class="text-muted">平均每一分钟就成交一辆。</p>
                        <p>欣欣二手车撮合个人直接卖给个人，没有中间商赚差价。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="/images/tool1.jpg" class="media-object" alt=""/></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">欣欣二手车是谁?</h4>
                        <p class="text-muted">平均每一分钟就成交一辆。</p>
                        <p>欣欣二手车撮合个人直接卖给个人，没有中间商赚差价。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="/images/tool3.jpg" class="media-object" alt=""/></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">欣欣二手车是谁?</h4>
                        <p class="text-muted">平均每一分钟就成交一辆。</p>
                        <p>欣欣二手车撮合个人直接卖给个人，没有中间商赚差价。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="/images/tool4.jpg" class="media-object" alt=""/></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">欣欣二手车是谁?</h4>
                        <p class="text-muted">平均每一分钟就成交一辆。</p>
                        <p>欣欣二手车撮合个人直接卖给个人，没有中间商赚差价。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 tab2-img">
                <img src="/images/cooper.jpg" class="auto img-responsive center-block" alt=""/>
            </div>
            <div class="text col-md-6 col-sm-6 tab2-text">
                <h3>合作银行</h3>
                <p>完美的金融理财服务，让您在购车的活动中实现利益更大化</p>
            </div>
        </div>
    </div>
</div>
<div class="tab3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="/images/intro.jpg" class="auto img-responsive center-block" alt=""/>
            </div>
            <div class="text col-md-6 col-sm-6">
                <h3>购车流程演示</h3>
                <p>一条龙服务，让您在未来的路上尽情驰骋</p>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <p>© 2018 All Rights Reserved.林雪瑞设计 </p>
        <p>鲁ICP备160100号,地址：山东省烟台市芝罘区红旗中路186号,邮编：264001</p>
    </div>
</footer>-->
<button id="selectbtn">查询数据</button>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#selectbtn').on('click',function () {
        window.location.href='/user/showEstimate';
    });

    $('#loginbtn').on('click',function () {
        $('#myModal').modal('show');
    });
    $('#registerbtn').on('click',function () {
        $('#myModa2').modal('show');
    });

    $(function () {
        //轮播自动播放
        $('#myCarousel').carousel({
            //自动3秒播放
            interval:3000,
        });

        //设置垂直居中
        /*       $('.carousel-control').css('line-height',$('.carousel-inner img').height()+'px');
               $(window).resize(function () {
                   var $height=$('.carousel-inner img').eq(0).height() ||
                               $('.carousel-inner img').eq(1).height() ||
                               $('.carousel-inner img').eq(2).height();
                   $('.carousel-control').css('line-height',$height+'px')
               });*/

        //设置文字垂直居中，谷歌浏览器加载图片的顺序问题，导致高度无法获取
        $('window').load(function () {
            $('.text').eq(0).css('margin-top',($('.auto').eq(0).height()-$('.text').eq(0).height())/2+'px');
        });

        $(window).resize(function () {
            $('.text').eq(0).css('margin-top',($('.auto').eq(0).height()-$('.text').eq(0).height())/2+'px');
        });

        $('window').load(function () {
            $('.text').eq(1).css('margin-top',($('.auto').eq(1).height()-$('.text').eq(1).height())/2+'px');
        });
        $(window).resize(function () {
            $('.text').eq(1).css('margin-top',($('.auto').eq(1).height()-$('.text').eq(1).height())/2+'px');
        });
    });
</script>
</body>
</html>