<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--thymeleaf的头文件-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--上面这一行便于移动端开发使用，使显示更加清晰，以后编程都加上这一行-->
    <title>欣欣买车页面</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <style>
        .selectNumberScreen{ width:1024px; height:240px; margin:20px auto;}
        .screenBox dl {border-bottom: #e6e6e6 1px dashed; width: 768px; overflow: hidden}
        .screenBox dl.noborder {border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px}
        .screenBox dl.goodstype {border-bottom: #e6e6e6 1px dashed}
        .screenBox dl dt {float: left; height: 30px}
        .screenBox dl dt {text-align: right; width: 100px; height: 22px; font-weight: 600; padding-top: 8px}
        .screenBox dl dd {position: relative; padding-bottom: 5px; padding-left: 0px; width: 620px; padding-right: 48px; float: left; height: 25px; overflow: hidden; padding-top: 0px}
        .screenBox dl dd a {line-height: 14px; margin: 9px 25px 0px 0px; display: inline-block; color: #36c; overflow: hidden; text-decoration: none}
        .screenBox dl dd a:hover {background: #39c; color: #fff}
        .screenBox dl dd a.selected {background: #39c; color: #fff}
        .screenBox dl dd span.more {position: absolute; width: 39px; display: block; height: 14px; top: 6px; cursor: pointer; right: 1px}
        .screenBox dl dd span.more label {display: inline-block; cursor: pointer}
        .hasBeenSelected {border: #b2d1ff 1px solid;padding:2px;width: 784px; margin-top: 10px; overflow: hidden;}
        .hasBeenSelected dl {width: 784px; background: #f6f8fd; overflow: hidden}
        .hasBeenSelected dl dt {float: left}
        .hasBeenSelected dl dd {float: left}
        .hasBeenSelected dl dt {text-align: right; line-height: 30px; width: 108px; height: 30px; font-weight: 600}
        .hasBeenSelected dl dd {padding-bottom: 4px; padding-left: 0px; width: 676px; padding-right: 0px; padding-top: 0px}
        .selectedInfor {border-bottom: #f60 1px solid; position: relative; border-left: #f60 1px solid; padding-bottom: 1px; margin: 4px 10px 0px 0px; padding-left: 5px; padding-right: 17px; display: block; white-space: nowrap; background: #fff; float: left; height: 17px; border-top: #f60 1px solid; border-right: #f60 1px solid; padding-top: 1px}
        .selectedInfor label {color: #f60}
        .eliminateCriteria {line-height: 21px; margin-top: 4px; width: 80px; float: left; color: #f60; cursor: pointer; font-weight: 600}
        .selectedInfor em {background: url("../images/close.gif") no-repeat;cursor: pointer;display: block;height: 13px;overflow: hidden;position: absolute;right: 2px;top: 3px;width: 13px;}
    </style>
</head>
<body th:inline="text">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand logo"><img src="/images/logo5.jpg" alt="二手车平台"/></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav">
            <li class="list-group-item-info" style="background-color: #f8f8f8;font-size: 17px;line-height: 10px;"><a href="#" style="color: lightseagreen;">欣欣二手车交易平台</a></li>
        </ul>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/theMainPage"><span class="glyphicon glyphicon-home"></span>首页</a></li>
                <li class="active"><a href="/user/buyCar"><span class="glyphicon glyphicon-shopping-cart"></span> 买车</a></li>
                <li><a href="/user/sellCar"><span class="glyphicon glyphicon-heart-empty"></span> 卖车</a></li>
                <li><a href="/user/carBaike"><span class="glyphicon glyphicon-fire"></span>汽车百科</a></li>
                <li><a href="/user/personCenter"><span class="glyphicon glyphicon-tint"></span> 个人中心</a></li>
                <li ><button class="btn btn-info" style="margin-top: 9px; margin-right: 7px" th:if="${session.currentUser==null}"><span class="glyphicon glyphicon-user"></span><a href="/user/info" style="text-decoration: none;">登录</a></button></li>
                <li><button class="btn btn-info" style="margin-top: 9px;" th:if="${session.currentUser==null}"><span class="glyphicon glyphicon-plus"></span><a href="/user/temp" style="text-decoration: none;">注册</a></button></li>
                <li><button class="btn btn-info" style="margin-top: 9px; margin-right: 7px" th:if="${session.currentUser!=null}"
                            th:text="${session.currentUser.getPhone()}"></button></li>
                <li><button class="btn btn-info" style="margin-top: 9px;" th:if="${session.currentUser!=null}"><a href="/user/quit">退出登录</a></button> </li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-top: 50px;">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="#">买车</a> <span class="divider">/</span>
            </li>
            <li class="active">
                查看汽车简略信息
            </li>
        </ul>
        <form action="/user/buyCar" id="actionForm" method="post" class="form-search" style="float: right;">
            <input type="hidden" name="page" id="pageNo"/>
            <input style="width: 200px; height: 32px;" name="brandname" placeholder="输入品牌名进行搜索" type="text" th:value="${brandname}" />
            <button type="submit" class="btn">查找</button>
        </form>
        <div class="selectNumberScreen">
            <div id="selectList" class="screenBox screenBackground">
                <dl class="listIndex" attr="terminal_brand_s">
                    <dt>品  牌：</dt>
                    <dd><a th:href="@{'/user/searchCar/'+'奥迪'}" >奥迪</a>
                        <a th:href="@{'/user/searchCar/'+'奔驰'}" >奔驰</a>
                        <a th:href="@{'/user/searchCar/'+'宝马'}" >宝马</a>
                        <a th:href="@{'/user/searchCar/'+'别克'}" >别克</a>
                        <a th:href="@{'/user/searchCar/'+'大众'}" >大众</a>
                        <a th:href="@{'/user/searchCar/'+'丰田'}" >丰田</a>
                        <a th:href="@{'/user/searchCar/'+'现代'}" >现代</a>
                        <a th:href="@{'/user/searchCar/'+'雪佛兰'}" >雪佛兰</a>
                        <span class=more><label>更多</label><em class=open></em></span> </dd>
                </dl>

<!--                <dl class="listIndex" attr="terminal_brand_s">
                    <dt>车  系：</dt>
                    <dd><a href="javascript:void(0)">A6L</a><span class=more><label>更多</label><em class=open></em></span> </dd>
                </dl>-->

                <dl class="listIndex" attr="价格范围">
                    <dt>价  格：</dt>
                    <dd><a href="/user/search1To5" >1万-5万</a>
                        <a href="/user/search5To10" >5万-10万</a>
                        <a href="/user/search10To15" >10万-15万</a>
                        <a href="/user/search15To20" >15万-20万</a>
                        <a href="/user/search20To50">20万-50万</a>
                        <a href="/user/search50" >50万以上</a></dd>
                    <span class=more><label>更多</label><em class=open></em></span> </dd>
                </dl>
            </div>

        </div>

        <div style="border: #ebebeb solid 1px;margin-top: -120px;">
            <div th:each="p: ${page.content}" style="padding: 3px; width: 308px;height: 334px;float: left;">
                <div style="width: 286px;height: 195px; padding: 5px;">
                    <a th:href="@{'/user/goCarDetail/'+${p.getWscid()}}">
                        <img style="width: 286px;height: 195px;" th:src="${p.getHeadpath()}"/>
                    </a>
                </div>
                <div style="width: 288px;height: 118px; margin-top: 9px;padding: 5px;">
                    <p style="line-height: 10px; font-size: 14px; color: black;" th:text="${p.getCarbrand()}+'|'+${p.getCarseries()}+'|'+${p.getCarmodel()}"></p>
                    <br><br>
                    <p style=" font-size: 18px; color: red;" th:text="${p.getSellprice()}+'万元'"></p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="span12">
    <ul class="breadcrumb">
        <ul class="pager">
        <p class="lead">每页[[${page.size}]]条，&nbsp;共<i class="blue">[[${page.totalElements}]]</i>条记录，当前显示第&nbsp;<i
                class="blue">[[${page.number+1}]]&nbsp;</i>页，共<i class="blue">[[${page.totalPages}]]&nbsp;</i>页
        </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div th:if="${page.number > 0}" class="form-group">
            <li><a href="javascript:gotoPage(0)">首页</a></li>
            <li><a th:attr="href='javascript:gotoPage('+${page.number - 1}+')'">上一页</a></li>
        </div>
        <div th:if="${((page.number+1)*page.size) &lt; page.totalElements}" class="form-group">
            <li><a th:attr="href='javascript:gotoPage('+${page.number + 1}+')'">下一页</a></li>
            <li><a th:attr="href='javascript:gotoPage('+${page.totalPages - 1}+')'">尾页</a></li>
        </div>
    </ul>
    </ul>
</div>
<footer id="footer">
    <div class="container">
        <p>© 2018 All Rights Reserved.林雪瑞设计 </p>
        <p>鲁ICP备160100号,地址：山东省烟台市芝罘区红旗中路186号,邮编：264001</p>
    </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function gotoPage(obj) {//分页跳转上一页及下一页的操作
        $('#pageNo').val(obj);
        $('#actionForm').submit();
    }
</script>
</body>
</html>