<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--thymeleaf的头文件-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--上面这一行便于移动端开发使用，使显示更加清晰，以后编程都加上这一行-->
    <title>欣欣判断页面</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <pre>恭喜您注册成功，点击下面按钮可跳转至登录页面</pre>
    <button class="btn btn-info" style="margin-top: 9px; margin-right: 7px"><span class="glyphicon glyphicon-user"></span><a href="/user/info" style="text-decoration: none;">点我实现登录</a></button>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>