<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--上面这一行便于移动端开发使用，使显示更加清晰，以后编程都加上这一行-->
    <title>栅格系统</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        ul.nav-pills{
            width: 150px;
        }
        ul.nav-pills.affix{
            top:30px;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<div class="container">
    <div class="jumbotron" style="height: 150px">
        <h2>Bootstrap Affix</h2>
    </div>
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <!--data-spy="affix" data-offset-top="150"-->
            <ul id="myAffix" class="nav nav-pills nav-stacked" >
                <li class="active"><a href="#section-1">第一部分</a></li>
                <li><a href="#section-2">第二部分</a></li>
                <li><a href="#section-3">第三部分</a></li>
                <li><a href="#section-4">第四部分</a></li>
                <li><a href="#section-5">第五部分</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
           <h2 id="section-1">第一部分</h2>
            <p style="line-height:2">近日，所谓游戏的外挂软件，顾名思义是从外部控制住网络游戏程序的内容，从而令使用外挂的玩家获得别的玩家所不具备的功能的软件，相当于在游戏中“作弊”。曾有游戏主播在直播中演示自己的外挂软件：朝天乱开一通枪，对手纷纷中弹出局，主播坦言自己使用的就是“自动瞄准”的外挂。
                　　还有玩家也表示自己也曾遇到类似的情况，“我们打到最后，两个人几乎是面对着面了，可无论怎么开枪，对手都不会死，这可能是使用了‘锁血量’的外挂。”随后，他在游戏内进行了举报，后来了解到对方被封号处理。不少《绝地求生：刺激战场》的手游玩家发现，在游戏中有玩家使用了外挂软件。北京青年报记者调查发现，在游戏交流群中存在销售外挂软件的行为，记者购买一款外挂后发现确实能实现一些作弊功能。针对这一现象，游戏出品方团队回应称，对于使用外挂等行为，经核实后将给予相应处罚，发现作弊一定严惩。 游戏屡现外挂 人跑得比汽车快 《绝地求生：刺激战场》是一款枪战演习类手机游戏，近期十分火热。陆宁(化名)就是一名《绝地求生：刺激战场》的爱好者，但近日他连续遇到了让自己特别郁闷的事情：就在游戏只剩下十几人的时候，陆宁开着吉普车前行，这时他看到有其他玩家跑步的速度比汽车还要快，仿佛能“瞬间移动”一般。且两人对战时，他注意到对手手上的枪并没指着自己，可自己却中了弹，“我怀疑对手使用了‘自动瞄准’的外挂”。</p>
            <h2 id="section-2">第二部分</h2>
            <p style="line-height:2">近日，所谓游戏的外挂软件，顾名思义是从外部控制住网络游戏程序的内容，从而令使用外挂的玩家获得别的玩家所不具备的功能的软件，相当于在游戏中“作弊”。曾有游戏主播在直播中演示自己的外挂软件：朝天乱开一通枪，对手纷纷中弹出局，主播坦言自己使用的就是“自动瞄准”的外挂。
                　　还有玩家也表示自己也曾遇到类似的情况，“我们打到最后，两个人几乎是面对着面了，可无论怎么开枪，对手都不会死，这可能是使用了‘锁血量’的外挂。”随后，他在游戏内进行了举报，后来了解到对方被封号处理。不少《绝地求生：刺激战场》的手游玩家发现，在游戏中有玩家使用了外挂软件。北京青年报记者调查发现，在游戏交流群中存在销售外挂软件的行为，记者购买一款外挂后发现确实能实现一些作弊功能。针对这一现象，游戏出品方团队回应称，对于使用外挂等行为，经核实后将给予相应处罚，发现作弊一定严惩。 游戏屡现外挂 人跑得比汽车快 《绝地求生：刺激战场》是一款枪战演习类手机游戏，近期十分火热。陆宁(化名)就是一名《绝地求生：刺激战场》的爱好者，但近日他连续遇到了让自己特别郁闷的事情：就在游戏只剩下十几人的时候，陆宁开着吉普车前行，这时他看到有其他玩家跑步的速度比汽车还要快，仿佛能“瞬间移动”一般。且两人对战时，他注意到对手手上的枪并没指着自己，可自己却中了弹，“我怀疑对手使用了‘自动瞄准’的外挂”。</p>
            <h2 id="section-3">第三部分</h2>
            <p style="line-height:2">近日，所谓游戏的外挂软件，顾名思义是从外部控制住网络游戏程序的内容，从而令使用外挂的玩家获得别的玩家所不具备的功能的软件，相当于在游戏中“作弊”。曾有游戏主播在直播中演示自己的外挂软件：朝天乱开一通枪，对手纷纷中弹出局，主播坦言自己使用的就是“自动瞄准”的外挂。
                　　还有玩家也表示自己也曾遇到类似的情况，“我们打到最后，两个人几乎是面对着面了，可无论怎么开枪，对手都不会死，这可能是使用了‘锁血量’的外挂。”随后，他在游戏内进行了举报，后来了解到对方被封号处理。不少《绝地求生：刺激战场》的手游玩家发现，在游戏中有玩家使用了外挂软件。北京青年报记者调查发现，在游戏交流群中存在销售外挂软件的行为，记者购买一款外挂后发现确实能实现一些作弊功能。针对这一现象，游戏出品方团队回应称，对于使用外挂等行为，经核实后将给予相应处罚，发现作弊一定严惩。 游戏屡现外挂 人跑得比汽车快 《绝地求生：刺激战场》是一款枪战演习类手机游戏，近期十分火热。陆宁(化名)就是一名《绝地求生：刺激战场》的爱好者，但近日他连续遇到了让自己特别郁闷的事情：就在游戏只剩下十几人的时候，陆宁开着吉普车前行，这时他看到有其他玩家跑步的速度比汽车还要快，仿佛能“瞬间移动”一般。且两人对战时，他注意到对手手上的枪并没指着自己，可自己却中了弹，“我怀疑对手使用了‘自动瞄准’的外挂”。</p>
            <h2 id="section-4">第四部分</h2>
            <p style="line-height:2">近日，所谓游戏的外挂软件，顾名思义是从外部控制住网络游戏程序的内容，从而令使用外挂的玩家获得别的玩家所不具备的功能的软件，相当于在游戏中“作弊”。曾有游戏主播在直播中演示自己的外挂软件：朝天乱开一通枪，对手纷纷中弹出局，主播坦言自己使用的就是“自动瞄准”的外挂。
                　　还有玩家也表示自己也曾遇到类似的情况，“我们打到最后，两个人几乎是面对着面了，可无论怎么开枪，对手都不会死，这可能是使用了‘锁血量’的外挂。”随后，他在游戏内进行了举报，后来了解到对方被封号处理。不少《绝地求生：刺激战场》的手游玩家发现，在游戏中有玩家使用了外挂软件。北京青年报记者调查发现，在游戏交流群中存在销售外挂软件的行为，记者购买一款外挂后发现确实能实现一些作弊功能。针对这一现象，游戏出品方团队回应称，对于使用外挂等行为，经核实后将给予相应处罚，发现作弊一定严惩。 游戏屡现外挂 人跑得比汽车快 《绝地求生：刺激战场》是一款枪战演习类手机游戏，近期十分火热。陆宁(化名)就是一名《绝地求生：刺激战场》的爱好者，但近日他连续遇到了让自己特别郁闷的事情：就在游戏只剩下十几人的时候，陆宁开着吉普车前行，这时他看到有其他玩家跑步的速度比汽车还要快，仿佛能“瞬间移动”一般。且两人对战时，他注意到对手手上的枪并没指着自己，可自己却中了弹，“我怀疑对手使用了‘自动瞄准’的外挂”。</p>
            <h2 id="section-5">第五部分</h2>
            <p style="line-height:2">近日，所谓游戏的外挂软件，顾名思义是从外部控制住网络游戏程序的内容，从而令使用外挂的玩家获得别的玩家所不具备的功能的软件，相当于在游戏中“作弊”。曾有游戏主播在直播中演示自己的外挂软件：朝天乱开一通枪，对手纷纷中弹出局，主播坦言自己使用的就是“自动瞄准”的外挂。
                　　还有玩家也表示自己也曾遇到类似的情况，“我们打到最后，两个人几乎是面对着面了，可无论怎么开枪，对手都不会死，这可能是使用了‘锁血量’的外挂。”随后，他在游戏内进行了举报，后来了解到对方被封号处理。不少《绝地求生：刺激战场》的手游玩家发现，在游戏中有玩家使用了外挂软件。北京青年报记者调查发现，在游戏交流群中存在销售外挂软件的行为，记者购买一款外挂后发现确实能实现一些作弊功能。针对这一现象，游戏出品方团队回应称，对于使用外挂等行为，经核实后将给予相应处罚，发现作弊一定严惩。 游戏屡现外挂 人跑得比汽车快 《绝地求生：刺激战场》是一款枪战演习类手机游戏，近期十分火热。陆宁(化名)就是一名《绝地求生：刺激战场》的爱好者，但近日他连续遇到了让自己特别郁闷的事情：就在游戏只剩下十几人的时候，陆宁开着吉普车前行，这时他看到有其他玩家跑步的速度比汽车还要快，仿佛能“瞬间移动”一般。且两人对战时，他注意到对手手上的枪并没指着自己，可自己却中了弹，“我怀疑对手使用了‘自动瞄准’的外挂”。</p>

        </div>
    </div>
</div>
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#myAffix').affix({
        offset:{
            top:150
        }
    });
</script>
</body>
</html>