<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--上面这一行便于移动端开发使用，使显示更加清晰，以后编程都加上这一行-->
    <title>卖车</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="demo.html" class="navbar-brand logo"><img src="../../static/images/logo6.jpg" alt="二手车平台"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="demo.html"><span class="glyphicon glyphicon-home"></span> 我要买车</a></li>
                <li><a href="sellCar.html"><span class="glyphicon glyphicon-list"></span> 我要卖车</a></li>
                <li><a href="talkRoom.html"><span class="glyphicon glyphicon-fire"></span> 车友交流</a></li>
                <li class="active"><a href="personInfo.html"><span class="glyphicon glyphicon-question-sign"></span> 个人信息</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <hgroup>
            <h1>个人信息</h1>
            <h4>对应您的各项业务，详细整理，为您解忧...</h4>
        </hgroup>
    </div>
</div>

<div id="personInfo">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs hidden-sm">
                <div class="list-group">
                    <a class="list-group-item" href="#1">企业介绍</a>
                    <a class="list-group-item" href="#1">团队文化</a>
                    <a class="list-group-item" href="#1">联系我们</a>
                </div>
            </div>
            <div class="col-md-9 personInfo">
                <a name="1"></a>
                <h3>企业介绍</h3>
                <p>关于优信集团
                    优信集团是专业的二手车在线交易服务提供商。我们的核心业务涵盖了二手车网络交易、二手车电商零售平台，以及二手车金融衍生服务。优信集团致力于为中国二手车行业的发展做出贡献，利用互联网及移动互联网技术，推动和建立中国未来二手车市场的诚信与高效。
                    优估(乐陵)信息科技有限公司<br>
                    优估(乐陵) 信息科技有限公司  优信集团旗下“优估”品牌，是专门研究增值电信业务和电子商务的机构。利用互联网与移动互联网技术，从事信息科技领域内的技术开发和咨询等服务，业务涵盖二手车经纪，计算机系统集成，设计、制作、代理、发布各类广告及其相关配套服务。
                    优信金融是基于二手车市场的金融衍生类服务机构，利用优信集团在二手车行业的专业技术以及大数据分析的能力，为二手车的零售金融和供应链金融提供更加精准高效的金融服务。业务涵盖对公融资、消费信贷、二手车延保服务等专业汽车金融产品，帮助消费者降低购车门槛，让经销商的业务更快拓展。</p>
                <a name="2"></a>
                <h3>团队文化</h3>
                <p>网络已深刻改变着人们的生活，本地化生活服务市场前景巨大，生活半径团队坚信本地化生活服务与互联网的结合将会成就一家梦幻的公司，我们脚踏实地的相信梦想，我们相信你的加入会让生活半径更可能成为那家梦幻公司！生活半径人有梦想，有魄力，强执行力，但是要实现这个伟大的梦想，需要更多的有创业精神的你一路前行。公司将提供有竞争力的薪酬、完善的福利（五险一金）、期权、广阔的上升空间。只要你有能力、有激情、有梦想，愿意付出，愿意与公司共同成长，请加入我们！</p>
                <p>请发送您的简历到：hr@xxx.com，我们会在第一时间联系您！</p>
                <a name="3"></a>
                <h3>联系我们</h3>
                <p>官方客服电话
                    10106088周一至周日 09:00-21:00
                    商务合作
                    邮箱：yxbd@xin.com
                    地址：山东省烟台市芝罘区红旗中路186号
                    媒体采访
                    邮箱：caifang@xin.com
                    合作投诉
                    邮箱：hzts@xin.com
                    乐陵
                    地址：乐陵市朱集镇林家村中央大厦</p>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <p>© 2018 All Rights Reserved.林雪瑞设计 </p>
        <p>鲁ICP备160100号,地址：山东省烟台市芝罘区红旗中路186号,邮编：264001</p>
    </div>
</footer>

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script type="text/javascript">


</script>
</body>
</html>