<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--上面这一行便于移动端开发使用，使显示更加清晰，以后编程都加上这一行-->
    <title>车友交流</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="demo.html" class="navbar-brand logo"><img src="../../static/images/logo6.jpg" alt="二手车平台"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="demo.html"><span class="glyphicon glyphicon-home"></span> 我要买车</a></li>
                <li><a href="sellCar.html"><span class="glyphicon glyphicon-list"></span> 我要卖车</a></li>
                <li class="active"><a href="talkRoom.html"><span class="glyphicon glyphicon-fire"></span> 车友交流</a></li>
                <li><a href="personInfo.html"><span class="glyphicon glyphicon-question-sign"></span> 个人信息</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <hgroup>
            <h1>车友论坛</h1>
            <h4>交流问题，参加本平台的举行的车友会...</h4>
        </hgroup>
    </div>
</div>

<div id="talkRoom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case1.jpg" alt="">
                    <div class="caption">
                        <h4>中国移动通信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case2.jpg" alt="">
                    <div class="caption">
                        <h4>中国石化</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case3.jpg" alt="">
                    <div class="caption">
                        <h4>中国联通</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case4.jpg" alt="">
                    <div class="caption">
                        <h4>中国电信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case1.jpg" alt="">
                    <div class="caption">
                        <h4>中国移动通信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case2.jpg" alt="">
                    <div class="caption">
                        <h4>中国石化</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case1.jpg" alt="">
                    <div class="caption">
                        <h4>中国移动通信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case2.jpg" alt="">
                    <div class="caption">
                        <h4>中国石化</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case3.jpg" alt="">
                    <div class="caption">
                        <h4>中国联通</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case4.jpg" alt="">
                    <div class="caption">
                        <h4>中国电信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case3.jpg" alt="">
                    <div class="caption">
                        <h4>中国联通</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img src="../../static/images/case4.jpg" alt="">
                    <div class="caption">
                        <h4>中国电信</h4>
                        <p>参与了本机构的总裁管理培训课程，学员反馈意见良好。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <p>© 2018 All Rights Reserved.林雪瑞设计 </p>
        <p>鲁ICP备160100号,地址：山东省烟台市芝罘区红旗中路186号,邮编：264001</p>
    </div>
</footer>

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script type="text/javascript">


</script>
</body>
</html>